body {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 100vh;
    /* background: #27ae60; */
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #32465a;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
}

p {
    margin-bottom: 0% !important;
}

.uperDiv {
    height: 25%;
    background-color: #4a7fb3;
}

#frame {
    position: absolute;
    left: 0;
    right: 0;
    top: 7%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 85%;
    height: 90%;
    background: #E6EAEA;
}


#frame #sidepanel {
    float: left;

    width: 23%;
    height: 100%;
    background: #2c3e50;
    color: #f5f5f5;
    overflow: hidden;
    position: relative;
}



#frame #sidepanel #profile {
    width: 80%;
    margin: 25px auto;
}



#frame #sidepanel #profile.expanded .wrap {
    height: 210px;
    line-height: initial;
}

#frame #sidepanel #profile.expanded .wrap p {
    margin-top: 20px;
}

#frame #sidepanel #profile.expanded .wrap i.expand-button {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#frame #sidepanel #profile .wrap {
    height: 60px;
    display: flex;
    align-items: center;
}



#frame #sidepanel #profile .wrap img {
    width: 60px;
    height: 60px !important;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid #e74c3c;
    height: 100%;
    float: left;
    cursor: pointer;
    -moz-transition: 0.3s border ease;
    -o-transition: 0.3s border ease;
    -webkit-transition: 0.3s border ease;
    transition: 0.3s border ease;
    object-fit: cover;
} 

#frame #sidepanel #profile .wrap .btn-group .dropdown-menu{
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 17px 19px 3px rgba(0,0,0,0.1);
}



#frame #sidepanel #profile .wrap img.online {
    border: 2px solid #2ecc71;
}

#frame #sidepanel #profile .wrap img.offline {
    border: 2px solid #f12d0f;
}

#frame #sidepanel #profile .wrap p {
    float: left;
    margin-left: 15px;
}



#frame #sidepanel #profile .wrap i.expand-button {
    float: right;
    margin-top: 23px;
    font-size: 0.8em;
    cursor: pointer;
    color: #435f7a;
}



#frame #sidepanel #profile .wrap #status-options {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 150px;
    margin: 70px 0 0 0;
    border-radius: 6px;
    z-index: 99;
    line-height: initial;
    background: #435f7a;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}


#frame #sidepanel #profile .wrap #status-options.active {
    opacity: 1;
    visibility: visible;
    margin: 75px 0 0 0;
}



#frame #sidepanel #profile .wrap #status-options:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #435f7a;
    margin: -8px 0 0 24px;
}



#frame #sidepanel #profile .wrap #status-options ul {
    overflow: hidden;
    border-radius: 6px;
}

#frame #sidepanel #profile .wrap #status-options ul li {
    padding: 15px 0 30px 18px;
    display: block;
    cursor: pointer;
}


#frame #sidepanel #profile .wrap #status-options ul li:hover {
    background: #496886;
}

#frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px 0 0 0;
}



#frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    margin: -3px 0 0 -3px;
    background: transparent;
    border-radius: 50%;
    z-index: 0;
}


#frame #sidepanel #profile .wrap #status-options ul li p {
    padding-left: 12px;
}


#frame #sidepanel #profile .wrap #status-options ul li#status-online span.status-circle {
    background: #2ecc71;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-online.active span.status-circle:before {
    border: 1px solid #2ecc71;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-away span.status-circle {
    background: #f1c40f;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-away.active span.status-circle:before {
    border: 1px solid #f1c40f;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-busy span.status-circle {
    background: #e74c3c;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-busy.active span.status-circle:before {
    border: 1px solid #e74c3c;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-offline span.status-circle {
    background: #95a5a6;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-offline.active span.status-circle:before {
    border: 1px solid #95a5a6;
}

#frame #sidepanel #profile .wrap #expanded {
    padding: 100px 0 0 0;
    display: block;
    line-height: initial !important;
}

#frame #sidepanel #profile .wrap #expanded label {
    float: left;
    clear: both;
    margin: 0 8px 5px 0;
    padding: 5px 0;
}

#frame #sidepanel #profile .wrap #expanded input {
    border: none;
    margin-bottom: 6px;
    background: #32465a;
    border-radius: 3px;
    color: #f5f5f5;
    padding: 7px;
    width: calc(100% - 43px);
}

#frame #sidepanel #profile .wrap #expanded input:focus {
    outline: none;
    background: #435f7a;
}

#frame #sidepanel #search {
    border-top: 1px solid #32465a;
    border-bottom: 1px solid #32465a;
    font-weight: 300;
}


#frame #sidepanel #search label {
    position: absolute;
    margin: 10px 0 0 20px;
}

#frame #sidepanel #search input {
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    padding: 10px 0 10px 46px;
    width: calc(100% - 25px);
    border: none;
    background: #32465a;
    color: #f5f5f5;
}

#frame #sidepanel #search input:focus {
    outline: none;
    background: #435f7a;
}

#frame #sidepanel #search input::-webkit-input-placeholder {
    color: #f5f5f5;
}

#frame #sidepanel #search input::-moz-placeholder {
    color: #f5f5f5;
}

#frame #sidepanel #search input:-ms-input-placeholder {
    color: #f5f5f5;
}

#frame #sidepanel #search input:-moz-placeholder {
    color: #f5f5f5;
}

#frame #sidepanel #contacts {
    height: calc(100% - 177px);
    overflow-y: scroll;
    overflow-x: hidden;
}


#frame #sidepanel #contacts.expanded {
    height: calc(100% - 334px);
}

#frame #sidepanel #contacts::-webkit-scrollbar {
    width: 8px;
    background: #2c3e50;
}

#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
    background-color: #243140;
}

#frame #sidepanel #contacts ul li.contact {
    position: relative;
    padding: 10px 0 15px 0;
    font-size: 0.9em;
    cursor: pointer;
    height: 76px;
    margin-top: 10px;
    box-shadow: 9px 0px 15px 7px rgba(0,0,0,0.1);
    border-radius: 20px;
}


#frame #sidepanel #contacts ul li.contact:hover {
    background: #32465a;
}

#frame #sidepanel #contacts ul li.contact.active {
    background: #32465a;
    border-right: 5px solid #435f7a;
}

#frame #sidepanel #contacts ul li.contact.active span.contact-status {
    border: 2px solid #32465a !important;
}

#frame #sidepanel #contacts ul li.contact .wrap {
    width: 88%;
    margin: 0 auto;
    position: relative;
}


#frame #sidepanel #contacts ul li.contact .wrap span {
    position: absolute;
    left: 0;
    margin: -2px 0 0 -2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #2c3e50;
}


.status-online {
    background: #2ecc71;
}

.status-offline {
    background: #f1470f;
}


#frame #sidepanel #contacts ul li.contact .wrap img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    object-fit: cover;
    object-position: top;
}


#frame #sidepanel #contacts ul li.contact .wrap .meta {
    padding: 5px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .name {
    font-weight: 600;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
    margin: 5px 0 0 0;
    padding: 0 0 1px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
    position: initial;
    border-radius: initial;
    background: none;
    border: none;
    padding: 0 2px 0 0;
    margin: 0 0 0 1px;
    opacity: .5;
}

.unseenNumber {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: #002093;
}

#frame #sidepanel #bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#frame #sidepanel #bottom-bar button {
    float: left;
    border: none;
    width: 50%;
    padding: 10px 0;
    background: #32465a;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 0.85em;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
}



#frame #sidepanel #bottom-bar button:focus {
    outline: none;
}

#frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: 1px solid #2c3e50;
}



#frame #sidepanel #bottom-bar button:hover {
    background: #435f7a;
}

#frame #sidepanel #bottom-bar button i {
    margin-right: 3px;
    font-size: 1em;
}



#frame .startChat {
    width: 77%;
    height: 100%;

    display: block;


}

#frame .startChat .box {
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

#frame .startChat .box .image {
    width: 65%;
    height: 85%;
    /* border: 2px solid black; */
}

#frame .startChat .box .image img {
    width: 100%;
    height: 100%;
}

#frame .content {
    float: right;
    width: 77%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: none;
}



#frame .content .contact-profile {
    width: 65.4%;
    height: 60px;
    line-height: 55px;
    background: #f5f5f5;
    position: fixed;
}

#frame .content .contact-profile img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left;
    margin: 9px 12px 0 9px;
    object-fit: cover;
    object-position: top;
}

#frame .content .contact-profile p:first-child {
    float: left;
    font-size: 20px;

}

#frame .content .contact-profile .social-media {
    float: right;
}

#frame .content .contact-profile .social-media i {
    margin-left: 14px;
    cursor: pointer;
}

#frame .content .contact-profile .social-media i:nth-last-child(1) {
    margin-right: 20px;
}

#frame .content .contact-profile .social-media i:hover {
    color: #435f7a;
}

#frame .content .messages {
    height: 82%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 60px;
    /* display: block; */

}

#frame .content .image-preview {
    height: 82%;
    margin-top: 60px;
    display: none;
}

#frame .content .image-preview .image-preview-outer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#frame .content .image-preview .image-preview-outer .image-preview-inner {
    height: 80%;
    width: 50%;
    /* border: 2px solid black; */
}

#frame .content .image-preview-inner img {
    height: 100%;
    width: 100%;
    object-fit: contain;

}




#frame .content .messages::-webkit-scrollbar {
    width: 8px;
    /* background: transparent; */
}

#frame .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

#frame .content .messages li {
    display: inline-block;
    clear: both;
    /* float: left; */
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
}

.dateShow {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;

}

.dateShow .dateShowInnerDiv {
    width: fit-content;
    padding: 20px;
    height: 100%;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.dateShow p {
    font-size: 11px;
}

#frame .content .messages li:nth-last-child(1) {
    margin-bottom: 20px;
}

#frame .content .messages li.replies img {
    margin: 6px 8px 0 0;
    object-fit: cover;
    object-position: top;
}

#frame .content .messages li.replies p {
    background: #435f7a;
    color: #f5f5f5;
}

#frame .content .messages li.replies p img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
    margin: 0px;
}

#frame .content .messages .replytime {
    margin-left: 55px;
}

#frame .content .messages .replytime p {
    font-size: 11px;
}

#frame .content .messages li.sent img {
    float: right;
    margin: 6px 0 0 8px;
    object-fit: cover;
    object-position: top;
}

#frame .content .messages li.sent .action {
    float: right;
    margin-top: 13px;
    margin-right: 10px;
    display: none;
    cursor: pointer;
}

#messageEditIcon {
    float: right;
    margin-left: 10px;
    font-size: 12px;
    margin-top: 5px;
}

#frame .content .messages li.sent:hover i {
    display: block;
}

#frame .content .messages li.sent p {
    background: #f5f5f5;
    float: right;
    display: flex;
    align-items: center;
}

#frame .content .messages li.sent p img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
    margin: 0px;
}

#frame .content .messages .senttime {
    /* float: right; */
    margin-right: 13px;
}

#frame .content .messages .senttime p {
    font-size: 11px;
    float: right;
}

#frame .content .messages .senttime i {
    float: right;
    font-size: 10px;
}

#frame .content .messages .senttime svg {
    float: right;
    margin-top: -5px;
}

#frame .content .messages li img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
}

#frame .content .messages li p {
    display: inline-block;
    padding: 10px 16px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
}



#frame .content .message-input {
    position: absolute;
    bottom: 5px;
    width: 100%;
    z-index: 99;
    height: 10%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
.rotate {
    background-color: #d7d7d7;
    border-radius: 50%;
    animation: rotateSquare 0.1s linear forwards;
  }

  @keyframes rotateSquare {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(90deg);
    }
  } */

/* .dropdown-menu {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    animation: slideFromBottom 0.5s ease forwards;
  }

  @keyframes slideFromBottom {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  } */

.dropdown-icon {
    font-size: 18px !important;
}

#getMessage {
    width: 90%;
    height: 85%;
}

#editForm {
    width: 90%;
    height: 85%;
}

.form-control {
    height: 80% !important;
    color: #892323;
    font-style: italic;
    margin-right: 10px;
}

.plus-icon {
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.plus-icon i {
    font-size: 30px;
}

.iButton i {
    font-size: 30px;
}

.iButton {
    border: none;
}

.element {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #007bff;
}


.form-control {
    flex: 1;
    border: none;
    outline: none;
    box-shadow: none;
}

::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Webkit browsers (Chrome, Safari, etc.) */
}

#frame .content .message-input .wrap {
    position: relative;
}

#frame .content .message-input .wrap input {
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    float: left;
    border: none;
    width: calc(100% - 90px);
    padding: 11px 32px 10px 8px;
    font-size: 0.8em;
    color: #32465a;
}

#frame .content .message-input .wrap input:focus {
    outline: none;
}

#frame .content .message-input .wrap .attachment {
    position: absolute;
    right: 60px;
    z-index: 4;
    margin-top: 10px;
    font-size: 1.1em;
    color: #435f7a;
    opacity: .5;
    cursor: pointer;
}



#frame .content .message-input .wrap .attachment:hover {
    opacity: 1;
}

#frame .content .message-input .wrap button {
    float: right;
    border: none;
    width: 50px;
    padding: 12px 0;
    cursor: pointer;
    background: #32465a;
    color: #f5f5f5;
}



#frame .content .message-input .wrap button:hover {
    background: #435f7a;
}

#frame .content .message-input .wrap button:focus {
    outline: none;
}

@media screen and (max-width: 600px) {
    .uperDiv {
        display: none;
    }

    #frame #sidepanel #profile .wrap p{
        font-size: 27px;
    }

    #frame {
        position: static;
        width: 100%;
        height: 100vh;
        display: block;
        background-color: transparent;

    }

    #frame #sidepanel {
        width: 100%;
        float: none;
        background-color: rgb(235, 233, 233);
        color: black;
        position: relative;
    }

    #frame #sidepanel #profile {
        width: 100%;
        background-color: #2885e1;
        margin: 0%;
        padding: 20px;
        height: 17%;
        border-radius: 0px 0px 12% 12%;
        color: white;
    }

    #frame #sidepanel #search {
        margin-bottom: 31px;
        border-radius: 10px;
        height: 53px;
        display: flex;
        width: 95%;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 14%;
        border: none;
    }

    .container {
        padding: 0px !important;
        width: 100% !important;
        margin: 0% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .container .sidepanel-content {
        width: 95%;
        height: 100%;
    }

    #frame #sidepanel #search .search-content {
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #frame #sidepanel #contacts {
        /* background-color: white; */
        margin-top: 45px;
        border-radius: 25px;
        box-shadow: 7px 26px 24px 0px rgba(0, 0, 0, 0.1);
        height: 73vh;
      
    }

    #frame #sidepanel #search .search-content label {
        position: none !important;
        margin: 0%;

    }
    #frame #sidepanel #contacts ul li.contact{
        background-color: white;
    }

    #frame #sidepanel #search .search-content input {
        font-size: 14px;
        background-color: white;
        color: black !important;
        padding: 10px 0px 10px 25px;
      
    }

    #frame #sidepanel #search .search-content input::placeholder {
        color: black;
    }

    #frame #sidepanel #bottom-bar {
        background-color: #2885e1 !important;
        border-radius: 46px 46px 0px 0px;
        height: 50px;
    }

    #frame #sidepanel #bottom-bar button {
        background-color: transparent;
    }

    #frame #sidepanel #bottom-bar button i{
          color: white;
    }
    .unseenNumber{
        background-color:lightgreen ;
    }

    .contact-status{
        display: none;
    }

    .startChat{
        display: none !important;
    }

    #frame .content{
        width: 100%;
        float: none;
    }

    #frame .content .contact-profile {
        border-radius: 0px 0px 21px 21px;
        width: 100%;
        height: 77px;
        line-height: 55px;
        background: #2885e1;
        position: fixed;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        color: white;
        box-shadow: 0px 9px 19px 0px rgba(0,0,0,0.1);
    }
    .contact-profile .backIcon{
        height: 100%;
        width: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
    }

    #frame .content .messages{
        margin-top:82px;
        padding-bottom: 10px;
        height: 80%;
        /* background-color: black; */
    }

    #frame .content .messages li.replies p{
        background-color: #2885e1;
    }

    /* .message-input{
        background-color: transparent;
    } */
    .iButton{
        background-color: transparent;
    }
    .iButton i{
        color:#2885e1 ;
    }

    .plus-icon{
        margin-right: 14px;
    }
    .element input{
        background-color: #2885e1;
        border-radius: 2.25rem !important;
    }
    .element input::placeholder{
        color: white;
    }

}